
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
/* Estilo do botão */
.ui-btn {
    --btn-default-bg: rgba(41, 41, 41, 0);
    --btn-padding: 15px 20px;
    --btn-hover-bg: rgba(51, 51, 51, 0);
    --btn-transition: .1s;
    --btn-letter-spacing: .1rem;
    --btn-animation-duration: 1.2s;
    --btn-shadow-color: rgba(0, 0, 0, 0);
    --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
    --hover-btn-color: #c1c1c1ea;
    --default-btn-color: #ffffff4d;
    --font-size: 16px;
    /* 👆 this field should not be empty */
    --font-weight: 600;
    font-family: 'Poiret One', cursive;
    /* 👆 this field should not be empty */
}

.ui-btn {
    box-sizing: border-box;
    padding: var(--btn-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-btn-color);
    font: var(--font-weight) var(--font-size) var(--font-family);
    background: var(--btn-default-bg);
    border: none;
    cursor: pointer;
    transition: var(--btn-transition);
    overflow: hidden;
    box-shadow: var(--btn-shadow);
}
.ui-btn:hover span,
.ui-btn:focus span {
    color: var(--hover-btn-color);
}








.uia-btn {
  --btn-default-bg: rgba(41, 41, 41, 0);
  --btn-padding: 15px 20px;
  --btn-hover-bg: rgba(51, 51, 51, 0);
  --btn-transition: .1s;
  --btn-letter-spacing: .1rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow-color: rgba(0, 0, 0, 0);
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: #ffffffea;
  --default-btn-color: #ffffff4d;
  --font-size: 16px;
  /* 👆 this field should not be empty */
  --font-weight: 600;
  --font-family: Menlo, Roboto Mono, monospace;
  z-index: 2000;
  /* 👆 this field should not be empty */
}


.uia-btn  {
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
}
.uia-btn:hover span,
.uia-btn:focus span {
  color: white;
}





.uias-btn  {
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);

  box-shadow: var(--btn-shadow);
}


.uias-btn {
  color: rgb(134, 157, 95);
  font-family: 'Poiret One', cursive;
  position: relative;
  
}

.uias-btn:hover .preview {
  display: block;
}







.preview {
  display: none;
  position: absolute;
  top: 35px; /* Ajuste a posição do iframe */
  left: 0;
  margin-left: 130px;
  width: 450px; /* Largura da pré-visualização */
  height: 300px; /* Altura da pré-visualização */
  border: 1px solid #888;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}






/* Adicione estas classes CSS ao seu arquivo de estilo */
.page-transition {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.page-transition.fade-out {
  opacity: 0;
}


canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Coloca o canvas no fundo */


}

.canvass-container {
  position: relative;
  display: block;
  position: fixed;
  overflow:auto !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Coloca o canvas no fundo */


}
#back-button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}





.plusButtonn {
  /* Config start */
  --plus_sideLength: 2rem;
  --plus_topRightTriangleSideLength: 0.9rem;
  /* Config end */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -1.75rem;
  left: 10.5rem;
  width: var(--plus_sideLength);
  height: var(--plus_sideLength);
  background-color: #43000000;
  overflow: hidden;
}

.plusButtonn::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
  border-style: solid;
  border-color: transparent rgba(0, 0, 0, 0) transparent transparent;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.plusButtonn:hover {
  cursor: pointer;
}

.plusButtonn:hover::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButtonn:focus-visible::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButtonn>.plusIcon {
  fill: rgba(255, 255, 255, 0.576);
  width: calc(var(--plus_sideLength) * 0.7);
  height: calc(var(--plus_sideLength) * 0.7);
  z-index: 1;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.plusButtonn:hover>.plusIcon {
  fill: rgb(0, 244, 24);
  transform: rotate(180deg);
}




.editBtn {
  width: 35px;
  height: 35px;
  border-radius: 11px;
  border: none;
  background-color: rgba(93, 93, 116, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}
.editBtn::before {
  content: "";
  width: 100%;
  height: 210%;
  background-color: rgba(102, 102, 141, 0);
  position: absolute;
  z-index: 1;
  transform: scale(0);
  transition: all 0.3s;
  border-radius: 50%;
  filter: blur(10px);
}
.editBtn:hover::before {
  transform: scale(1);
}
.editBtn:hover {
  box-shadow: 0px 0px 120px rgb(255, 255, 255);
}

.editBtn svg {
  height: 17px;
  fill: rgba(255, 255, 255, 0.727);
  z-index: 3;
  transition: all 0.2s;
  transform-origin: bottom;
}
.editBtn:hover svg {
  transform: rotate(-15deg) translateX(5px);
}
.editBtn::after {
  content: "";
  width: 15px;
  height: 2px;
  position: absolute;
  bottom: 8px;
  left: -5px;
  background-color: white;
  border-radius: 2px;
  z-index: 2;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-out;
}
.editBtn:hover::after {
  transform: scaleX(1);
  left: 0px;
  transform-origin: right;
}



    
    /* Estilo para navegadores WebKit (Chrome, Safari) */
    body::-webkit-scrollbar {
      width: 12px; /* Largura da barra de rolagem vertical */
      height: 12px; /* Altura da barra de rolagem horizontal */
      }
      
      body::-webkit-scrollbar-track {
      background: #333; /* Cor do fundo da barra de rolagem */
      }
      
      body::-webkit-scrollbar-thumb {
      background-color: #666; /* Cor da barra de rolagem */
      border-radius: 6px; /* Cantos arredondados */
      border: 3px solid #333; /* Espaçamento interno para a borda */
      }
      
      /* Estilo para Firefox */
      body {
      scrollbar-width: thin; /* Define a largura da barra de rolagem */
      scrollbar-color: #666 #333; /* Define a cor da barra de rolagem e do fundo */
      }
      
      /* Estilo para Edge e Internet Explorer */
      body::-ms-scrollbar {
      width: 12px; /* Largura da barra de rolagem vertical */
      height: 12px; /* Altura da barra de rolagem horizontal */
      }
      
      body::-ms-scrollbar-track {
      background: #333; /* Cor do fundo da barra de rolagem */
      }
      
      body::-ms-scrollbar-thumb {
      background-color: #666; /* Cor da barra de rolagem */
      border-radius: 6px; /* Cantos arredondados */
      border: 3px solid #333; /* Espaçamento interno para a borda */
      }


      body,  html  {
        font-family: 'JS Brains Telex', sans-serif;
        margin: 0;
        overflow: auto;
   
        color: #f0f0f047;


    }
    #container-nav {
      position: relative;
   
      z-index: 1000; /* Garante que a barra de navegação esteja acima de outros conteúdos */

  }
  
  #navbar-items {
      display: flex;
      justify-content: left; /* Alinha os itens à esquerda */
      padding: 0px; /* Espaçamento interno dos itens */
  }

  


  
    
    body, html {
      font-family: 'JS Brains Telex', sans-serif;
      margin: 0;
      overflow: auto;
      background-color: #2d2b2b;
      color: #f0f0f047;
     
   
  }

  #canvas-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      pointer-events: none; /* Make sure the canvas doesn't interfere with other elements */
  }
  #canvass-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none; /* Make sure the canvas doesn't interfere with other elements */
}
  .content {
      position: relative;
      z-index: 1;
      padding: 20px;
  }

  .container {
      display: flex;
      flex-wrap: wrap;
      margin-left: 15px;
      z-index: 2;
  }


  .containerr {
    display: flex;
    flex-wrap: wrap;
    margin-right: 40px;
    z-index: 2;
}
  .ui-btn {
      margin-right: 0px;
      z-index: 2;
  }

  
  .navbar-items{
    z-index: 3;
  }

  .rock-salt-regular {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}

.assinatura-container {
  position: fixed; /* Define o posicionamento fixo */

  right: 10px; /* Alinha à direita */
  transform-origin: right; /* Define o ponto de origem da rotação */
  display: inline-block; /* Para permitir o alinhamento lado a lado */
  vertical-align: middle; /* Alinha verticalmente ao centro com o próximo elemento */
  margin-right: 10px; /* Espaçamento entre a assinatura e os botões */
  z-index: 1000; /* Garante que a assinatura esteja acima de outros conteúdos */
  transform: translateY(-80%) rotate(90deg); /* Rotaciona o texto em 90 graus e centraliza verticalmente */

}
.assinatura-container2 {
  position: fixed; /* Define o posicionamento fixo */
  left: 50%; /* Posiciona horizontalmente no centro da tela */
  top: 87%; /* Posiciona verticalmente no centro da tela */
  transform: translate(-25%, 25%); /* Ajusta o centro do elemento para o meio da tela */
  display: inline-block; /* Permite o alinhamento lado a lado */
  z-index: 1000; /* Garante que a assinatura esteja acima de outros conteúdos */
}


.assinatura2 {
  font-family: "Rock Salt", cursive; /* Aplica a fonte Rock Salt */
  font-size: 18px;
  color: rgba(255, 255, 255, 0.836);
  white-space: nowrap; /* Mantém o texto em uma linha */
  overflow: hidden; /* Esconde o conteúdo que excede a largura */
  border-right: .15em solid transparent; /* Efeito de cursor inicialmente invisível */
  display: block; /* Para que o cursor se aplique corretamente */
  animation: escrever 4s steps(40, end) forwards, piscar-cursor .5s step-end infinite;
  transform-origin: left top; /* Define o ponto de origem da rotação */
}

.assinatura {
  font-family: "Rock Salt", cursive; /* Aplica a fonte Rock Salt */
  font-size: 18px;

  color: rgba(255, 255, 255, 0.836);
  white-space: nowrap; /* Mantém o texto em uma linha */
  overflow: hidden; /* Esconde o conteúdo que excede a largura */
  border-right: .15em solid transparent; /* Efeito de cursor inicialmente invisível */
  display: block; /* Para que o cursor se aplique corretamente */
  animation: escrever 4s steps(40, end) forwards, piscar-cursor .5s step-end infinite;
  transform-origin: left top; /* Define o ponto de origem da rotação */
}

@keyframes escrever {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
  }
  
  @keyframes piscar-cursor {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(255, 166, 0, 0);
  }
  }

.button-container {
  position: fixed; /* Define o posicionamento fixo */
  bottom: -100px; /* Alinha com a assinatura verticalmente */
  right: 3px; /* Alinha à direita, ao lado da assinatura */
  transform: translateY(-50%); /* Centraliza verticalmente */
  display: inline-block; /* Para permitir o alinhamento lado a lado */
  vertical-align: middle; /* Alinha verticalmente ao centro com o elemento anterior */
  z-index: 1000;
  margin-left: 0px; /* Espaçamento entre os botões e a assinatura */
}
.button-container2 {
  position: fixed; /* Define o posicionamento fixo */
  left: 50%; /* Posiciona horizontalmente no centro da tela */
  bottom: 35%; /* Posiciona verticalmente na parte inferior */
  transform: translateX(-50%) translateY(50%); /* Ajusta o centro do elemento para o meio da tela */
  display: flex; /* Permite o alinhamento lado a lado */
  z-index: 1000; /* Garante que o botão esteja acima de outros conteúdos */
  margin-left: 0px; /* Espaçamento entre os botões e a assinatura */
}
.button-container3 {
  position: fixed; /* Define o posicionamento fixo */
  left: -40%; /* Posiciona horizontalmente no centro da tela */
  bottom: 55%; /* Posiciona verticalmente na parte inferior */
  transform: translateX(-50%) translateY(50%); /* Ajusta o centro do elemento para o meio da tela */
  display: flex; /* Permite o alinhamento lado a lado */
  z-index: 1000; /* Garante que o botão esteja acima de outros conteúdos */
  margin-left: 0px; /* Espaçamento entre os botões e a assinatura */
}

.setting-container {
  position: fixed; /* Define o posicionamento fixo */
  top: 1px; /* Alinha com a assinatura verticalmente */
  right: 0px; /* Alinha à direita, ao lado da assinatura */

  display: inline-block; /* Para permitir o alinhamento lado a lado */
  vertical-align: middle; /* Alinha verticalmente ao centro com o elemento anterior */
  z-index: 1000;
  margin-left: 0px; /* Espaçamento entre os botões e a assinatura */
}

.setting-container .options {
  display: none; /* Inicialmente oculto */
  position: absolute;
  top: 100%;
  left: -85px;

  width: 100px; /* Largura da caixa de seleção */
  background-color: #00000038;
  border: 1px solid #cccccc33;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.197);
  z-index: 1; /* Garante que a caixa de seleção apareça acima de outros elementos */
}

.setting-container.open .options {
  display: block; /* Mostra a caixa de seleção quando a classe open é aplicada */
}

.option-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option-item:hover {
  background-color: #f0f0f04e; /* Cor de fundo no hover */
}
.options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff; /* Cor de fundo das opções */
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.1); /* Sombra */
  padding: 10px;
  z-index: 1;
  list-style-type: none;
  margin: 0;
}

.options  {
  margin-bottom: 5px;
}

.options a {
  color: #ffffff61; /* Cor dos links */
  text-decoration: none;
  font-family: 'Poiret One', cursive;
  color: rgb(218, 204, 204);

  font-weight: 200;

  display: block;
  padding: 5px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave */
}

.options  a:hover {
  background-color: #f0f0f0; /* Mudança de cor de fundo no hover */
  color: #555; /* Mudança de cor do texto no hover */
}
.setting-btn {
  width: 65px;
  height: 45px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: rgba(129, 110, 216, 0);
  border-radius: 10px;
  cursor: pointer;
  border: none;
  z-index: 1000;
  box-shadow: 0px 0px 0px 2px rgba(212, 209, 255, 0);
}
.bar {
  width: 60%;
  height: 3px;
  background-color: rgb(229, 229, 229);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 2px;
}
.bar::before {
  content: "";
  width: 2px;
  height:4px;
  background-color: rgba(199, 199, 199, 0.512);
  position: absolute;
  border-radius: 90%;
  border: 2px solid rgba(255, 255, 255, 0.398);
  transition: all 0.6s;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0);
}
.bar1::before {
  transform: translateX(-10px);
}
.bar2::before {
  transform: translateX(10px);
}
.setting-btn:hover .bar1::before {
  transform: translateX(4px);
}
.setting-btn:hover .bar2::before {
  transform: translateX(-4px);
}

/* Estilo adicional para o link */
#assinatura-link {
text-decoration: none;
color: inherit;
}
.assinatura:hover {

color: rgba(0, 0, 0, 0.83);
}

.inline {
    display: flex;
    align-items: center;
}


.left-column, .middle-column {
  padding: 2px;
padding-right: 0px;

  box-sizing: border-box;
  flex: 1 1 100%;
  flex-wrap: wrap;
  z-index: 2;
}


@media (min-width: 768px) {
  .left-column {
      flex: 1 0 50%;
      margin: 0px;
      margin-left: 0px;
      margin-right: -300px;
  }
  .middle-column {
      flex: 0 1 50%;
      margin-left: 300px;
      margin-right: 0px;
  }
}

@media (max-width: 767px) {
  .left-column, .middle-column, .right-column {
      flex: 1 1 100%;
      margin: 0;
  }
}


.lefft-column, .midddle-column {
  padding: 2px;
  margin-bottom: 10px;
  box-sizing: border-box;
  flex: 1 0 30px;
  flex-wrap: wrap;
  z-index: 2
  
}
 .middddle-column {
  padding: 2px;
  margin-bottom: 10px;
  box-sizing: border-box;
  flex: 1 0 30px;
  flex-wrap: wrap;
  z-index: 2
  
}
.leffft-column {
padding:2px;
  margin-bottom: 10px;
  box-sizing: border-box;
  flex: 1 0 50px;
  flex-wrap: wrap;
  z-index: 2
  
}
@media (min-width: 768px) {
  .lefft-column {
      flex: 1 0   30%;
padding-right: 30px;
left: 30px;
      
  }
  .midddle-column {
      flex: 0 1   50%;
margin-left: -10px;

padding-left: 50px;
margin-right: 0px;

  }
  .leffft-column {
    flex: 1 0   50%;
padding-right: 30px;
left: 0px;
    
}
.middddle-column {
    flex: 0 1   50%;
margin-left: -10px;

padding-left: 0px;
margin-right: 0px;

}

}

@media (max-width: 767px) {
  .lefft-column, .midddle-column, .rigght-column {
      flex: 1 0 100%;

  }
  .leffft-column, .middddle-column, .rigght-column {
    flex: 1 0 100%;

}
}
/* ================================================================= references */


p2, p4{
  font-family: 'Poiret One', cursive;

  font-size: 24px;
  font-weight: 500;
  color: rgba(50, 50, 50, 1); /* Cinza escuro */
}

.uia-btn {

  --hover-btn-color: #1edc5acb;
  --default-btn-color: #a8d49e52;
  font-family: 
  "Shadows Into Light Two", cursive;
  font-size: 18px;
  font-weight: 600;
      }
.content-text{
  text-decoration: none;
  color: #000000;
      font-size: 18px;
      font-weight: 200;
      font-family: "Mina", sans-serif;

}
.content-text:hover {

color: #000000;

}


.dark-theme .content-text {
  color: rgb(200, 200, 200);

}


.contente-text{
  text-decoration: none;
  color: #ffffff68;
      font-size: 18px;
      font-weight: 200;
      font-family: "Mina", sans-serif;

}

.ui-btn{
  font-family: 'Poiret One', cursive;
  color: rgb(218, 204, 204);
  font-size: 24px;
  font-weight: 200;

}


  .popup-link:hover {
      color: #e1ff00a6;
      text-decoration: none;
     
  }
  .dark-theme:hover .popup-link:hover{
    color: #e1ff00a6;
    text-decoration: none;
   
}
  .dark-theme .popup-link {
    color: rgba(221, 160, 221, 0.8); /* Roxo claro pastel */
  }

.button {
  cursor: pointer;
  text-decoration: none;
  color: #ffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: #2d2e3200;
  border: 0px solid #2d2e32;
  transition: all 0.45s;

  z-index: 1000;
}

.button:hover {
  transform: rotate(360deg);
  transform-origin: center center;
  background-color: #ffff;
  color: #2d2e32;
  z-index: 1000;
}

.button:hover .btn-svg {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg)
    brightness(103%) contrast(103%);  
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
 /*=================== contato=====================================================/*/

 .containeer {
margin-left: -13px;
margin-top:10px;
      z-index: 2;
  }
  .containeeer {
  display:inline;
 margin-top: 20px;
      z-index: 2;
  }

  /* Estilos para o carrossel */
.carousel-container {
  width: 80%; /* Ajuste conforme necessário */
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%; /* Cada slide ocupa toda a largura do contêiner */
}

iframe {
  width: 100%;
  height: 300px; /* Altura ajustável conforme necessário */
}



.buttton {
  --main-focus: #2d8cf0;
  --font-color: #dedede;
  --bg-color-sub: #222;
  --bg-color: #323232;
  --main-color: #dedede;
  position: relative;
  width: 135px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
}

.buttton, .buttton__icon, .buttton__text {
  transition: all 0.3s;
}

.buttton .buttton__text {
  transform: translateX(21px);
  color: var(--font-color);
  font-size: 12px;
  font-weight: 200;
  font-family: "Mina", sans-serif;
  margin-right: 2px;
  margin-left: -22px;

}

.buttton .buttton__icon {
  position: absolute;
  transform: translateX(85px);
  height: 100%;
  width: 40px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttton .svg {
  width: 20px;
  fill: var(--main-color);
}

.buttton:hover {
  background:  rgba(106, 0, 255, 0.676);
}

.buttton:hover .buttton__text {
  color: transparent;
  

}

.buttton:hover .buttton__icon {
  width: 120px;
  transform: translate(0);
}

.buttton:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px rgba(0, 166, 255, 0.676);
}



.hovver-content {
  display: none;
  position:absolute;
  margin-top: -65px; /* Alinha a parte superior do conteúdo com a parte inferior do botão */

  transform: translateX(50%);
  padding: 5px;
  font-family: "Mina", sans-serif;
  font-size: 12px;
  color: rgba(185, 229, 40, 0.715);

  background-color: #000000d9;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 10; /* Ajustar z-index para garantir que esteja acima de outros elementos */
}


.hovver-content img {
  max-width: 100%;
  height: auto;
}

.buttton-container:hover .hovver-content {
  display: block;
}
.buttton-container {
  position: relative;
  margin-bottom: 2px; /* Adiciona espaço para evitar sobreposição */
}



/* Media queries para ajustar o conteúdo de hover em telas menores */




@media (max-width: 768px) {
  .hovver-content {
    width: 205%;
    left: 200%;
    bottom:20%;
    transform: translateX(-50%);
    margin-top: 103px;
  }
}

@media (max-width: 576px) {
  .hovver-content {
    width: 205%;
    left: 180%;
    bottom:20%;
    transform: translateX(-50%);
    margin-top: 103px; /* Ajusta a posição vertical do conteúdo */
  }
}

.hover-image {
  display: none;
}

.hover-image img {
  width: 200px;
  height: 60px;
}




.checkbox-wrapper input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper *,
  .checkbox-wrapper ::after,
  .checkbox-wrapper ::before {
  box-sizing: border-box;
  user-select: none;
}

.checkbox-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
}

.checkbox-wrapper .label {
  cursor: pointer;
}

.checkbox-wrapper .check {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
}

.checkbox-wrapper .label svg {
  vertical-align: middle;
}

.checkbox-wrapper .path1 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  transition: .5s stroke-dashoffset;
  opacity: 0;
}

.checkbox-wrapper .check:checked + label svg g path {
  stroke-dashoffset: 0;
  opacity: 1;
}



.buttonseta {
  display: block;
  position: relative;
  width: 36px;
  height: 30px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.buttonseta:before,
.buttonseta:after {
  content: "";
  position: absolute;
  border-radius: 70%;
  inset: 6px;
}

.buttonseta:before {
  border: 2px solid #90d63a;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.buttonseta:after {
  border: 2px solid #e8be00;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.buttonseta:hover:before,
.buttonseta:focus:before {
  opacity: 0;
  transform: scale(1.5);
  transition: opacity 0.9s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.buttonseta:hover:after,
.buttonseta:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.buttonseta-box {
  display: flex;
  position: absolute;
  top:0;
  left:0;

}

.buttonseta-elem {
  display: block;


  margin: 17px 18px 0 18px;
  transform: rotate(360deg);
  fill: #f0eeef;
}

.buttonseta:hover .buttonseta-box,
.buttonseta:focus .buttonseta-box {
  transition: 1.4s;
  transform: translateX(-56px);
}


/* From Uiverse.io by kennyotsu-monochromia */ 
.wrapper {
  position: absolute;
  top: 52.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  z-index: 9999;
  height: 60px;
  --black: #000000;
  --ch-black: #141414;
  --eer-black: #1b1b1b;
  --night-rider: #2e2e2e;
  --white: #ffffff;
  --af-white: #f3f3f3;
  --ch-white: #e1e1e1;
}
.wrapper2 {
  position: absolute;
  top: 5.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1010px;
  z-index: 9999;
  height: 1010px;
  --black: #000000;
  --ch-black: #141414;
  --eer-black: #1b1b1b;
  --night-rider: #2e2e2e;
  --white: #ffffff;
  --af-white: #f3f3f3;
  --ch-white: #e1e1e1;
}
footer .demo {
  position: absolute;
  bottom: 10px;
  width: 800px;
  margin: 0 auto;
}

footer .demo a {
  text-align: center;
  color: var(--black);
  text-decoration: none;
  font-weight: 100;
  border-bottom: 1px solid var(--black);
}

.circle {
  display: block;
  position: relative;
  padding: 0;
  z-index: 98;
  margin: 0 auto;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px 10px 10px rgba(249, 223, 223, 0.306);
  border-radius: 20%;
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.598);
 margin-left:15%;
 margin-top:-10%;
 margin-right:15%;
  transition: 0.2s;
  text-align: center;
  cursor:crosshair;
}

.circle:active {
  transform: scale(0.9);
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.3);
  background-color:rgb(36, 116, 30);
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.circle:hover {
  cursor:crosshair;
  background-color: rgba(17, 255, 0, 0.323);

  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px 10px 10px rgba(255, 255, 255, 0.668);
}

.circle .svg {
  position: absolute;
  cursor:crosshair;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  transition: 0.5s;
  transform: rotate(180deg);
}

.sub-circle {
  z-index: 0;
  position: absolute;
  height: 40px;
  width: 120px;
  overflow: hidden;
  border-radius: 20%;
  transition: 0.3s;
  transform: scale(0.5);
  opacity: 0;
  background-color: var(--eer-black);
  padding: 0;
  margin: 0;

  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px 10px 10px rgba(255, 255, 255, 0.284);
  border: none;
}

.sub-circle label {
  background-color: var(--eer-black);
  display: block;
  color: var(--eer-black);
  width: 100%;
  height: 100%;
  line-height: 40px;
  transition: .5s;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px 10px 10px rgba(255, 253, 255, 0.284);
}

.sub-circle label:hover {
  cursor:cell;
  background-color: rgba(239, 235, 235, 0.695);
  -webkit-box-shadow: 0 6px 10px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 0px 10px 10px rgba(248, 232, 250, 0.567);
  
  
}


.subs {
  left: -10px;
  top: 10px;
  width: 80px;
  height: 40px;

  text-align: center;
  z-index: 0;
  margin: 0 auto;
  position: relative;
}

.hidden-sub-trigger {
  display: none;
}

.hidden-sub-trigger:checked ~ label {
  background-color: rgba(255, 255, 255, 0.711);
}

.hidden-trigger {
  display: none;
  
}

.hidden-trigger:checked ~ .circle {
  transform: scale(0.9);
  cursor: pointer;
  background-color:rgba(128, 0, 128, 0.478);
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px 10px 10px rgba(222, 4, 255, 0.67);
}

.hidden-trigger:checked ~ .circle .svg {
  transform: rotate(45deg);
}

.hidden-trigger:checked ~ .subs button:nth-of-type(1) {
  transform: translate(20px, -120px) scale(1);
  opacity: 1;
  transition: 0.1s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(2) {
  transform: translate(60px, -70px) scale(1);
  opacity: 1;
  transition: 0.2s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(3) {
  transform: translate(60px, 70px) scale(1);
  opacity: 1;
  transition: 0.3s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(4) {
  transform: translate(30px, 10px) scale(1);
  opacity: 1;
  transition: 0.4s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(5) {
  transform: translate(-100px, 100px) scale(1);
  opacity: 1;
  transition: 0.5s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(6) {
  transform: translate(-140px, 30px) scale(1);
  opacity: 1;
  transition: 0.6s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(7) {
  transform: translate(-190px, -20px) scale(1);
  opacity: 1;
  transition: 0.7s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(8) {
  transform: translate(-140px, -100px) scale(1);
  opacity: 1;
  transition: 0.8s;
}




.popup-link {
  position: relative;
  text-decoration: none;
  color:rgb(81, 34, 138);
}

.tooltip {
  visibility: hidden;
  background-color: rgb(12, 12, 12);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  bottom: 125%; /* Ajuste a posição do tooltip conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s;
}

.popup-link:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.uia-btn:hover .tooltip {
  visibility: visible;
  opacity: 9999;
}



.preview {
  border: 1px solid #ccc;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}



  /* Estilo do botão inspirado no site Gumroad */
  .button5 {
    --bg: #000;
    --hover-bg: #ff90e8;
    --hover-text: #000;
    color: #fff;
    cursor: pointer;

    border: 1px solid var(--bg);
    border-radius: 40px;
    padding: 0.5em 1.5em;
    background: var(--bg);
    transition: 0.2s;
    font-size: 1rem;
    white-space: nowrap;
    margin: -3px;
    display: inline-block;
    text-align: center;
}

.button5:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}

.button5:active {
    transform: translate(0);
    box-shadow: none;
}

/* Estilo do botão ativo */
.active-button {
    background: var(--hover-bg);
    color: var(--hover-text);
}

/* Container dos botões dos anos */
.year-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Permite que os botões quebrem para a próxima linha se necessário */

}

/* Estilo das publicações */
.publications {
    display: none; /* Inicialmente as publicações são ocultadas */
    margin-top: 10px;
}
      /* Estilo de todas as publicações */
      .all-publications {
        display: block; /* Exibe todas as publicações ao clicar em 'Mostrar todos os anos' */
    }


     /* Estilos para o modo escuro */
body.dark-mode {
  background-color: #333;
  color: white;
}

/* From Uiverse.io by MRez321 */ 
.theme-switch {
  position: relative;
  display: flex;
  margin-top:-565px;
  justify-content: center;
  direction: rtl;
}

#theme-checkbox {
  display: none;
}

#theme-checkbox + label {
  /* change the font-size below to change the size of the switch button*/
  font-size: 2rem;
  height: 1em;
  width: 2.5em;
  border-radius: 0.25em;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: #cecece;
  position: relative;
}

#theme-checkbox:checked + label {
  background-color: #3a3a3a;
}

#theme-checkbox + label:active {
  transform: scale(0.85);
  transition: transform 0.2s;
}

#theme-checkbox + label div {
  width: 0.8em;
  height: 0.8em;
  border-radius: inherit;
  position: absolute;
  top: 0.1em;
  left: 0.1em;
  z-index: 10;
  transition: 0.5s cubic-bezier(1, 0.33, 0.11, 1.34);
  background-color: #f2f2f2;
}

#theme-checkbox:checked + label div {
  /* left: calc(2.5em - .8em - .1em); */
  left: 1.6em;
  background-color: #212121;
}

#theme-checkbox + label span {
  display: flex;
}

#theme-checkbox + label svg {
  display: inline-block;
  height: 1em;
  width: 1em;
  padding: 0.15em;
  box-sizing: border-box;
}

#theme-checkbox + label span:first-of-type {
  color: #3a3a3a;
}

#theme-checkbox + label span:last-of-type {
  color: #cecece;
}

body.dark-mode {
  background-color: #333;
  color: white;
}

body.dark-mode .ui-btn {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

body.dark-mode p2, body.dark-mode p20 {
  color: #ccc;
}


/* Estilo do tema escuro */
.dark-theme {
  background-color: #2d2b2b; /* Fundo escuro */
  color: rgb(200, 200, 200);

}

/* Ajuste das cores para elementos específicos */
.dark-theme p2 {
  color: rgb(200, 200, 200);

}
/* Ajuste das cores para elementos específicos */
.dark-theme p20 {
  color: rgba(255, 182, 193, 0.8); /* Rosa claro */



}
.dark-theme p {
  color: #ffffffac;
  font-weight: 400;
}
.dark-theme p18 {
  color: rgba(246, 246, 246, 0.8);
  font-weight: 550;
}
.dark-theme p4 {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 550;
}
.dark-theme p0 {
  color: rgba(176, 224, 230, 0.8); /* Azul claro pastel */

}


.dark-theme p25 {
  color: rgba(144, 238, 144, 0.8); /* Verde claro */

}
.dark-theme p223 {
  color: rgba(210, 210, 210, 0.8);
  font-weight: 550;
}
.dark-theme p33 {
  color: rgba(200, 120, 120, 0.9);
}
.dark-theme p182 {
  color: rgba(220, 220, 220, 0.8);
}
.dark-theme p11 {
  color: rgba(200, 250, 200, 0.9);
}
.dark-theme p23 {
  color: rgba(221, 160, 221, 0.8); /* Roxo claro pastel */
}

.dark-theme p233 {
  color: rgba(144, 238, 144, 0.8); /* Verde claro */
}
.dark-theme p24 {
  color: rgba(176, 224, 230, 0.8); /* Azul claro pastel */
}
.dark-theme p200 {
  color: rgba(255, 250, 200, 0.8); /* Amarelo pastel */

}

p23{

  font-family: 'Poiret One', cursive;

  font-size: 24px;
  font-weight: 500;

  font-weight: 200;
color:rgb(166, 107, 222)
  }
  p24{

    font-family: 'Poiret One', cursive;
  
    font-size: 24px;
    font-weight: 500;
  
    font-weight: 200;
    color:rgb(107, 113, 222)
    }

p0{


  font-weight: 201;
  color: rgba(0, 0, 0, 0.8); /* Preto suave */
  }
  p77{


    font-weight: 200;
    color: rgb(7, 89, 19)
    }

p20{


  font-weight: 200;
  color: rgba(139, 0, 0, 0.8); /* Vermelho vinho */
  }
  p200{

font-family: 'Poiret One';
    font-weight: 300;
    color: rgba(50, 50, 50, 0.8); /* Cinza escuro */
    }
  p25{

    
    font-size: 26px;
    font-weight: 400;
    color: rgba(34, 139, 34, 0.8); /* Verde floresta */
    }
  p18{
    font-family: 'Poiret One', cursive;
    
    font-size: 24px;
    font-weight: 200;
    color: rgb(69, 88, 73);
    }
  p{
    
    color: rgb(22, 23, 23);
    }
/* Efeito ao passar o mouse */
.uia-btn:hover .button-text {
  color: white; /* Cor do texto ao passar o mouse */
}

  p33{
  font-family: 'Poiret One', cursive;
  
  font-size: 15px;
  
  
  color: rgba(221, 164, 164, 0.872);
  }
  p182{
  font-family: 'Poiret One', cursive;
  
  font-size: 22px;
  
  color: rgba(255, 255, 255, 0.357);
  }
  p11{
  
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  font-weight: 600;
  color:rgb(193, 164, 255);;
 
      }

      p223{
        font-family: 'Poiret One', cursive;
        color: rgba(255, 255, 255, 0.801);
        font-size: 20px;
        font-weight: 400;
        font-style:bold;
 
        }      
/* styles.css */

/* O overlay que cobre toda a tela */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);  /* Fundo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* From Uiverse.io by Nawsome */ 
.wheel-and-hamster {
  --dur: 1s;
  position: relative;
  width: 12em;
  height: 12em;
  font-size: 14px;
}

.wheel,
.hamster,
.hamster div,
.spoke {
  position: absolute;
}

.wheel,
.spoke {
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wheel {
  background: radial-gradient(100% 100% at center,hsla(0,0%,60%,0) 47.8%,hsl(0,0%,60%) 48%);
  z-index: 2;
}

.hamster {
  animation: hamster var(--dur) ease-in-out infinite;
  top: 50%;
  left: calc(50% - 3.5em);
  width: 7em;
  height: 3.75em;
  transform: rotate(4deg) translate(-0.8em,1.85em);
  transform-origin: 50% 0;
  z-index: 1;
}

.hamster__head {
  animation: hamsterHead var(--dur) ease-in-out infinite;
  background: hsl(30,90%,55%);
  border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
  box-shadow: 0 -0.25em 0 hsl(30,90%,80%) inset,
		0.75em -1.55em 0 hsl(30,90%,90%) inset;
  top: 0;
  left: -2em;
  width: 2.75em;
  height: 2.5em;
  transform-origin: 100% 50%;
}

.hamster__ear {
  animation: hamsterEar var(--dur) ease-in-out infinite;
  background: hsl(0,90%,85%);
  border-radius: 50%;
  box-shadow: -0.25em 0 hsl(30,90%,55%) inset;
  top: -0.25em;
  right: -0.25em;
  width: 0.75em;
  height: 0.75em;
  transform-origin: 50% 75%;
}

.hamster__eye {
  animation: hamsterEye var(--dur) linear infinite;
  background-color: hsl(0,0%,0%);
  border-radius: 50%;
  top: 0.375em;
  left: 1.25em;
  width: 0.5em;
  height: 0.5em;
}

.hamster__nose {
  background: hsl(0,90%,75%);
  border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
  top: 0.75em;
  left: 0;
  width: 0.2em;
  height: 0.25em;
}

.hamster__body {
  animation: hamsterBody var(--dur) ease-in-out infinite;
  background: hsl(30,90%,90%);
  border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
  box-shadow: 0.1em 0.75em 0 hsl(30,90%,55%) inset,
		0.15em -0.5em 0 hsl(30,90%,80%) inset;
  top: 0.25em;
  left: 2em;
  width: 4.5em;
  height: 3em;
  transform-origin: 17% 50%;
  transform-style: preserve-3d;
}

.hamster__limb--fr,
.hamster__limb--fl {
  clip-path: polygon(0 0,100% 0,70% 80%,60% 100%,0% 100%,40% 80%);
  top: 2em;
  left: 0.5em;
  width: 1em;
  height: 1.5em;
  transform-origin: 50% 0;
}

.hamster__limb--fr {
  animation: hamsterFRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,80%) 80%,hsl(0,90%,75%) 80%);
  transform: rotate(15deg) translateZ(-1px);
}

.hamster__limb--fl {
  animation: hamsterFLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,90%) 80%,hsl(0,90%,85%) 80%);
  transform: rotate(15deg);
}

.hamster__limb--br,
.hamster__limb--bl {
  border-radius: 0.75em 0.75em 0 0;
  clip-path: polygon(0 0,100% 0,100% 30%,70% 90%,70% 100%,30% 100%,40% 90%,0% 30%);
  top: 1em;
  left: 2.8em;
  width: 1.5em;
  height: 2.5em;
  transform-origin: 50% 30%;
}

.hamster__limb--br {
  animation: hamsterBRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,80%) 90%,hsl(0,90%,75%) 90%);
  transform: rotate(-25deg) translateZ(-1px);
}

.hamster__limb--bl {
  animation: hamsterBLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,90%) 90%,hsl(0,90%,85%) 90%);
  transform: rotate(-25deg);
}

.hamster__tail {
  animation: hamsterTail var(--dur) linear infinite;
  background: hsl(0,90%,85%);
  border-radius: 0.25em 50% 50% 0.25em;
  box-shadow: 0 -0.2em 0 hsl(0,90%,75%) inset;
  top: 1.5em;
  right: -0.5em;
  width: 1em;
  height: 0.5em;
  transform: rotate(30deg) translateZ(-1px);
  transform-origin: 0.25em 0.25em;
}

.spoke {
  animation: spoke var(--dur) linear infinite;
  background: radial-gradient(100% 100% at center,hsl(0,0%,60%) 4.8%,hsla(0,0%,60%,0) 5%),
		linear-gradient(hsla(0,0%,55%,0) 46.9%,hsl(0,0%,65%) 47% 52.9%,hsla(0,0%,65%,0) 53%) 50% 50% / 99% 99% no-repeat;
}

/* Animations */
@keyframes hamster {
  from, to {
    transform: rotate(4deg) translate(-0.8em,1.85em);
  }

  50% {
    transform: rotate(0) translate(-0.8em,1.85em);
  }
}

@keyframes hamsterHead {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(8deg);
  }
}

@keyframes hamsterEye {
  from, 90%, to {
    transform: scaleY(1);
  }

  95% {
    transform: scaleY(0);
  }
}

@keyframes hamsterEar {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(12deg);
  }
}

@keyframes hamsterBody {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-2deg);
  }
}

@keyframes hamsterFRLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(50deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-30deg) translateZ(-1px);
  }
}

@keyframes hamsterFLLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(-30deg);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(50deg);
  }
}

@keyframes hamsterBRLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(-60deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(20deg) translateZ(-1px);
  }
}

@keyframes hamsterBLLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(20deg);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-60deg);
  }
}

@keyframes hamsterTail {
  from, 25%, 50%, 75%, to {
    transform: rotate(30deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(10deg) translateZ(-1px);
  }
}

@keyframes spoke {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-1turn);
  }
}



p29{
  font-family: 'Poiret One', cursive;

  font-size: 24px;
  font-weight: 500;
  color: rgba(50, 50, 50, 1); /* Cinza escuro */
}


     /* Lógica de hover para p2 */
     p29:hover {
      color: #dcf405; /* Cor diferente no hover */
      transform: scale(1.1); /* Efeito de zoom suave */
      
  
    }


    p28{

      font-family: 'Poiret One', cursive;
    
      font-size: 24px;
      font-weight: 500;
    
      font-weight: 200;
    color:rgb(166, 107, 222)
      }
     /* Lógica de hover para p2 */
     p28:hover {
      color: #dcf405; /* Cor diferente no hover */
      transform: scale(1.1); /* Efeito de zoom suave */
      
  
    }

    .dark-theme p28 {
      color: rgba(221, 160, 221, 0.8); /* Roxo claro pastel */
    }
    .dark-theme p29 {
      color: rgb(200, 200, 200);
    
    }

    .dark-theme:hover  p28:hover {
      color: #dcf405; /* Cor diferente no hover */
      transform: scale(1.1); /* Efeito de zoom suave */
      
  
    }
    .dark-theme:hover  p29:hover {
      color: #dcf405; /* Cor diferente no hover */
      transform: scale(1.1); /* Efeito de zoom suave */
      
  
    }


   






.audio-player {

  color: #16ad0eaa;

      font-family: "Mina", sans-serif;
      white-space: nowrap; /* Mantém o texto em uma linha */
margin-right: 50px;
margin-left: 50px;
background-color: rgba(0, 0, 0, 0.16) !important;

  
border-radius: 22px;

  position: relative;
  flex: 1 0 10%;

  z-index: 100300;



}
.dark-theme .playlist-item {
  color:  rgba(109, 137, 150, 0.747);

}
.dark-theme .track-info {
  margin-top: 5px;
padding:2px;
  border-radius: 20px;
  margin-left: 15px;
  position: relative;
  z-index: 100300;
  background: rgba(0, 0, 0, 0.369);
  margin-right: 13%;
padding-left: 10px;
  font-family: 'Poiret One', cursive;
color:rgba(38, 177, 38, 0.634);

}



.playlist-item{

  font-size: 20px;
  font-weight: 500;
  font-family: 'Poiret One', cursive;
  color: rgba(74, 74, 74, 0.992);
  cursor:crosshair !important;
  
}

.playlist-item:hover {
  color: rgb(103, 90, 240);
  font-weight: 400;
}


.controls {


  z-index: 100300;
}
.track-info {
  margin-top: 5px;
padding:2px;
  border-radius: 20px;
  margin-left: 15px;
  position: relative;
  z-index: 100300;
  background: rgba(0, 0, 0, 0.369);
  margin-right: 13%;
padding-left: 10px;
  font-family: 'Poiret One', cursive;
color:rgb(255, 255, 255);

}


.controls button {
  border-radius: 40px;
  position: relative;
  padding-left: 8px;
  padding-top: 4px;
left:0px;
top:78px;
height: 35px;
width: 35px;
  border: none;
  background-color: rgba(0, 0, 0, 0.711);
  font-size: 25px; /* Ajuste o tamanho da fonte conforme necessário */
  cursor: pointer;
  justify-content: center;
  position: relative;

  color: #ffffff5a; /* Cor do ícone ao passar o mouse */
  z-index: 1003300;
}

.controls button:hover {
  color: #04ff575a; /* Cor do ícone ao passar o mouse */
  z-index: 100300;
}

/* Exemplo de estilos para o ícone de play */
.play-icon::before {
  content: '\u25B6';/* Símbolo de play */
}

/* Exemplo de estilos para o ícone de pause */
.pause-icon::before {

  content:'ll';

}
.waveform{
  z-index: 600400;
}





#playBtn, #playBtn2 {
  position: absolute;
  margin-top:-120px;
  margin-left: 0px;
  z-index: 1; /* Garante que o botão fique sobreposto */
}





p27{
  font-family: 'Poiret One', cursive;

  font-size: 24px;
  font-weight: 500;
  color: rgba(50, 50, 50, 1); /* Cinza escuro */
}


     /* Lógica de hover para p2 */
     p27:hover {
      color: #dcf405; /* Cor diferente no hover */
      transform: scale(1.1); /* Efeito de zoom suave */
      
  
    }


    p26{

      font-family: 'Poiret One', cursive;
    
      font-size: 24px;
      font-weight: 500;
    
      font-weight: 200;
    color:rgb(166, 107, 222)
      }
     /* Lógica de hover para p2 */
     p26:hover {
      color: #dcf405; /* Cor diferente no hover */
      transform: scale(1.1); /* Efeito de zoom suave */
      
  
    }

    .dark-theme p26 {
      color: rgba(221, 160, 221, 0.8); /* Roxo claro pastel */
    }
    .dark-theme p27 {
      color: rgb(200, 200, 200);
    
    }



    body {
      user-select: none; /* Impede seleção de texto em navegadores modernos */
      overflow: hidden;
      touch-action: none; /* Desabilita gestos de zoom e rolagem */
      -ms-touch-action: none; /* Para dispositivos com Windows */
    }
    /* Mudar a cor do texto e fundo quando selecionado */
    ::selection {
      
      background-color: white; /* Cor de fundo */
      color: #333333; /* Cor do texto */
    }
    
    /* Para navegadores mais antigos, você pode adicionar os prefixos */
    ::-moz-selection {
      background-color: white;
      color: #333333;
    }
    
    ::-webkit-selection {
      background-color: white;
      color: #333333;
    }
    
    .button1 {
      color: white;
      text-decoration: none;
      font-size: 25px;
      border: none;
      margin-top:-10px;
      border: 1px solid rgba(255, 255, 255, 0);
      background: none;
      font-weight: 600;
      font-family: 'Poppins', sans-serif;
      padding: 10px 10px; /* Adiciona algum preenchimento para o botão */
        cursor: pointer; /* Aponta o cursor para indicar que é clicável */
        transition: all 0.3s ease; /* Suaviza a transição */
      
    }
    
    .button1::before {
      margin-left: auto;
      color:white;
    }
    
    .button1::after, .button1::before {
      content: '';
      width: 0%;
      height: 2px;
      background: #000000;
      display: block;
      transition: 0.5s;
    }
    
    .button1:hover::after, .button1:hover::before {
      width: 100%;
    }
    
    .button1-container {
      display: flex;
      margin-top:28px;
      flex-wrap: nowrap;
      flex-direction: column;  /* Alinha os botões verticalmente */
      justify-content: center; /* Centraliza horizontalmente */
      align-items: center;     /* Centraliza verticalmente */
      gap: 10px;               /* Espaço entre os botões */
      top:-20%;
    
    
    }
      /* Estilo do texto dentro dos botões */
      .button1 label {
        color: inherit; /* Herda a cor do botão (branco normalmente, preto no hover) */
        font-size: 25px;
        font-family: 'Poiret One', cursive;
      }
    
      /* Estilo do botão ao passar o mouse */
      .button1:hover {
        background-color: white; /* Cor de fundo branca ao passar o mouse */
        color: black; /* Cor da fonte preta ao passar o mouse */
        border-color: black; /* Muda a cor da borda para preta */
        transition: all 0.3s ease; /* Suaviza a transição */
        border-color: black;
          
      }
    
  
  
      .button2 {
        color: white;
        text-decoration: none;
  
        font-family: "Rock Salt", cursive; /* Aplica a fonte Rock Salt */
        font-size: 18px;
        border: 1px solid rgba(255, 255, 255, 0);
        
        margin-top:15px;
        background: none;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        padding: 5px 5px; /* Adiciona algum preenchimento para o botão */
          cursor: pointer; /* Aponta o cursor para indicar que é clicável */
          transition: all 0.3s ease; /* Suaviza a transição */
  
      }
      
      .button2::before {
        margin-left: auto;
        color:white;
      }
      
      .button2::after, .button2::before {
        content: '';
        width: 0%;
        height: 2px;
        background: #000000;
        display: block;
        transition: 0.5s;
      }
      
      .button2:hover::after, .button2:hover::before {
        width: 100%;
      }
      
      .button2-container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;  /* Alinha os botões verticalmente */
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center;     /* Centraliza verticalmente */
        gap: 10px;               /* Espaço entre os botões */
        top:0%;
      
      
      }
        /* Estilo do texto dentro dos botões */
        .button2 label {
          color: inherit; /* Herda a cor do botão (branco normalmente, preto no hover) */
          font-size: 25px;
          font-family: 'Poiret One', cursive;
        }
      
        /* Estilo do botão ao passar o mouse */
        .button2:hover {
          background-color:white; /* Cor de fundo branca ao passar o mouse */
          color: black; /* Cor da fonte preta ao passar o mouse */
          border-color: black;
          
          border-color: black; /* Muda a cor da borda para preta */
          transition: all 0.3s ease; /* Suaviza a transição */
        
        }
     
      /* Estilos para o modo escuro */
  body.dark-mode {
      background-color: #333;
      color: white;
    }
  
  /* From Uiverse.io by MRez321 */ 
  .theme-switch {
      position: relative;
      display: flex;
      margin-top:-565px;
      justify-content: center;
      direction: rtl;
    }
    
    #theme-checkbox {
      display: none;
    }
    
    #theme-checkbox + label {
      /* change the font-size below to change the size of the switch button*/
      font-size: 2rem;
      height: 1em;
      width: 2.5em;
      border-radius: 0.25em;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      background-color: #cecece;
      position: relative;
    }
    
    #theme-checkbox:checked + label {
      background-color: #3a3a3a;
    }
    
    #theme-checkbox + label:active {
      transform: scale(0.85);
      transition: transform 0.2s;
    }
    
    #theme-checkbox + label div {
      width: 0.8em;
      height: 0.8em;
      border-radius: inherit;
      position: absolute;
      top: 0.1em;
      left: 0.1em;
      z-index: 10;
      transition: 0.5s cubic-bezier(1, 0.33, 0.11, 1.34);
      background-color: #f2f2f2;
    }
    
    #theme-checkbox:checked + label div {
      /* left: calc(2.5em - .8em - .1em); */
      left: 1.6em;
      background-color: #212121;
    }
    
    #theme-checkbox + label span {
      display: flex;
    }
    
    #theme-checkbox + label svg {
      display: inline-block;
      height: 1em;
      width: 1em;
      padding: 0.15em;
      box-sizing: border-box;
    }
    
    #theme-checkbox + label span:first-of-type {
      color: #3a3a3a;
    }
    
    #theme-checkbox + label span:last-of-type {
      color: #cecece;
    }
    
  
  
  
    